$mobile: 480px;
$tablet-breakpoint: 481px;
$desktop-breakpoint-1: 852px;
$desktop-breakpoint-2: 1050px;
$desktop-breakpoint-3: 1310px;

$center-width-xlg: 1300px;
$center-width-lg: 1000px;
$center-width-md: 90%;
$center-width-sm: 85%;

$vertical-margin: 7em;

$hero-btn-padding: 1em 3.5em;
$regular-btn-padding: 0.5em 1em;


$yellow: #FFC602;
$bg-light: #FCFCFC;
$text-dark: #333333;

$anton: 'Anton', sans-serif;
$koho: 'KoHo', sans-serif;


%button {
    font-size: 0.9em;
    font-weight: 600;
    // text-transform: uppercase;
    border: 3px solid #000;
    border-radius: 7px;
    padding: 0.5em 2.5em;
    cursor: pointer;
}