$mobile: 480px;
$tablet-breakpoint: 481px;
$desktop-breakpoint-1: 852px;
$desktop-breakpoint-2: 1050px;
$desktop-breakpoint-3: 1310px;

$center-width-xlg: 1300px;
$center-width-lg: 1000px;
$center-width-md: 853px;
$center-width-sm: 85%;