$mobile: 480px;
$tablet-breakpoint: 481px;
$desktop-breakpoint-1: 852px;
$desktop-breakpoint-2: 1050px;
$desktop-breakpoint-3: 1310px;

$center-width-xlg: 1300px;
$center-width-lg: 1000px;
$center-width-md: 90%;
$center-width-sm: 85%;

$vertical-margin: 7em;

$hero-btn-padding: 1em 3.5em;
$regular-btn-padding: 0.5em 1em;


%button {
    background-color: #F6F6F6;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
}