@import './variables';

.subcategories-container {
    margin: $vertical-margin auto;
    max-width: 90%;
}

.category-heading {
    font-family: $anton;
    font-size: 2em;
}

@media (min-width: 800px) {

    .category-heading {
        font-size: 3em;
    }

}