@import './variables';

.subcategory-container {
    margin: 5em 0;
}

.subcategory-heading {
    font-size: 1.8em;
}

.products-container {
    margin: 2.5em 0;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20vh;
    column-gap: 3%;
}

@media (min-width: 850px) {

    .products-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 3%;
    }

}

@media (min-width: 1280px) {

    .products-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 5%;
    }

}

