@import './variables';

.product-container {
    grid-column: 1fr;
    // border: 1px solid grey;
    border-radius: 3px;

    &:hover .text-container {
        background-color: #000;
        color: #fff;
        transition: 0.1s ease-in;
    }
}

.image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.text-container {
    padding: 1em ;
    font-size: 1.2em;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
}