@import './variables';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    z-index: 999;
    background: #fff;
    color: #000;
    transition: transform 0.2s ease;
}

.nav {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-menu {
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.menu-item {
    position: relative;
    cursor: pointer;
    font-family: $koho;
    font-weight: 600;
    text-transform: uppercase;
}

#scrambler-link {
    font-family: 'Anton', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
    border-right: 3px solid #000;
    padding-right: 1em;
}

.icon-container {
    flex-direction: row;
    gap: 10px;
}

.header-icon {
    color: inherit;
    border: none;
    background: transparent;
    font-size: 20px;
}

.mobile-toggle {
    display: none;
}

.active { 
    color: red;
}


@media (max-width: $desktop-breakpoint-1) {
   
    .header-top, .nav {
        max-width: $center-width-sm;
    }

    .header {
        font-size: 0.9em;
    }

    .nav {
        justify-content: space-between;
    }

    .logo {
        width: 150px;
    }
    
    .header-menu {
        position: fixed;
        height: 1000px;
        inset: 0 0 0 0;
        flex-direction: column;
        gap: 2em;
        z-index: 1000;
        padding: min(15vh, 7em) 1em;
        background-color: #fff;
        font-size: 1.5em;
        text-align: center;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    #scrambler-link {
        border-right: 0;
        border-bottom: 3px solid #000;
        padding-right: 0;
        padding-bottom: 0.5em;
    }

    .nav-show {
        transform: translateX(0);
        transition: 0.3s ease-in-out
    }

    .nav-hide {
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
    }

    .mobile-toggle {
        display: block;
        z-index: 9990;
    }

}

@media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint-1) {

    .header {
        font-size: 1.1em;
    }

}

@media (min-width: $desktop-breakpoint-1) {

    .header-top, .nav {
        max-width: $center-width-md;
    }

    .nav {
        justify-content: space-between;
    }

    .logo {
        width: 170px;
    }

    .header-menu {
        gap: 2em;
    }

    .header-menu > li {
        position: relative;
    }

}