@import './variables';

.hero {
    height: 100vh;
    background-image: url('/hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    color: #fff;

    justify-content: center;
    align-items: flex-end;
}

.hero-content {
    margin-bottom: 8em;
    text-align: center;
}

.hero-title {
    font-size: 3em;
    font-weight: 600;
}

.hero-description {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0.5em 0 1.5em;
}

.hero-link {
    @extend %button;
    padding: $hero-btn-padding;
}

.categories {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100vh);
    // grid-template-rows: repeat(3, 1fr);
}

.category-article {
    padding: 100px 20px;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.category-title {
    margin-bottom: 1em;
    font-size: 2em;
}

.category-link {
    @extend %button;
    padding: $regular-btn-padding;
    border: 2px solid #000;
}

#accessories-article {
    grid-row: 1 / 2;
    background-image: url('/accessories2.jpg');
}

#apparel-article {
    grid-row: 2 / 3;
    background-image: url('/apparel.jpg');
}

#lifestyle-article {
    grid-row: 3 / 3;
    background-image: url('/lifestyle.jpg');
}

@media (min-width: 800px) {

    .categories {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40vh);
        gap: 0.5em;

        padding: 2em 0;
        margin: auto;
        max-width: 80%;
    }

    .category-article {
        border-radius: 7px;
        transition: 0.15s ease-in;

        &:hover {
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
        }
    }

    #accessories-article {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    
    #apparel-article {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    #lifestyle-article {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

}