@use './variables';
@import './variables';

// Hero section
.hero {
    height: 100vh;
    background-image: url('/home/hero-med.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.25);
    color: #fff;

    justify-content: center;
    align-items: flex-end;
}

.hero-content {
    margin-bottom: 20%;
    text-align: left;
}

.hero-heading {
    font-size: 4em;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    animation: 2s ease-out 0s 1 fadeInHeading;
}

.hero-subheading {
    font-family: $koho;
    text-transform: uppercase;
    font-weight: 600;
    animation: 1s ease-out 0s 1 fadeInSubheading;
}

.hero-btn {
    @extend %button;
    background-color: $yellow;
    margin-top: 1em;
    animation: 2.5s ease-out 0s 1 fadeInBtn;
}

.hero-btn:hover,
.hero-btn:focus {
    box-shadow: inset 0 0 0 2em #000;
    color: #fff;
}

// Categories section
.categories {
    flex-direction: column;
}

.category-article {
    padding: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.category-heading {
    font-size: 2em;
    color: #fff;
}

.category-btn {
    @extend %button;
    background-color: #000;
    color: #fff;
    border-color: #fff;
    margin-top: 1.5em;
}

.category-btn:hover,
.category-btn:focus {
    box-shadow: inset 0 0 0 2em #fff;
    color: #000;
}

#lifestyle-article {
    background-image: url('/home/lifestyle.jpg');
}

#apparel-article {
    background-image: url('/home/apparel.jpg');
}

// Accessories section
.accessories {
    height: 100vh;
    background-image: url('/home/accessories.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);

    justify-content: center;
    align-items: flex-end;
}

.accessories-content {
    color: #fff;
    margin-bottom: 20%;
    text-align: center;
}

.accessories-heading {
    font-size: 2em;
}

.accessories-btn {
    @extend %button;
    background-color: #000;
    color: #fff;
    border-color: #fff;
    margin-top: 1.5em;
}

.accessories-btn:hover,
.accessories-btn:focus {
    box-shadow: inset 0 0 0 2em #fff;
    color: #000;
}

@media (max-width: 400px) {

    .hero-heading { 
        font-size: 3em;
    }

}

@media (min-width: 800px) {

    // Hero section
    .hero {
        justify-content: flex-start;
        padding-left: 10%;
    }

    .hero-heading {
        font-size: 7em;
    }

    // Categories section
    .categories {
        flex-direction: row;
    }

    .category-article {
        padding: 20% 0%;
        flex: 1;
        // transition: 0.15s ease-in;

        // &:hover {
        //     box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
        // }
    }

}