.fieldset, .legend {
    border: none;
}

.legend {
    padding: 25px 0; 
    font-weight: 700;
    font-size: 1.1em;
}

.radio-label {

    input {
        display: none;
    }

    input:checked + .radio-btn::after {
        content: "";
        position: absolute;
        background-color: #000;
        height: 3px;
        width: 100%;
        left: 0;
        bottom: -10px;
    }

}

.radio-btn {
    width: 50px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    margin-right: 1.5em;
    padding-bottom: 5px;
}

.height {
    height: 15px;
}