@import './variables';

// Hero section
.hero-text-container {
    height: 90vh;
    background-image: url('/Scrambler/bllack.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 10px solid $red;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: #fff;
    text-align: center;
}

.hero-heading {
    font-family: $anton;
    font-size: 3.7em;
    text-transform: uppercase;
    animation: 2s ease-out 0s 1 fadeInHeading;
}

.hero-subheading {
    line-height: 1.3;
    font-family: $koho;
    text-transform: uppercase;
    color: $yellow;
    font-weight: 600; 
    animation: 1s ease-out 0s 1 fadeInSubheading;
}

.hero-btn {
    @extend %button;
    background-color: transparent;
    color: $yellow;
    border-color: $yellow;
    margin-top: 2em;
    animation: 2.5s ease-out 0s 1 fadeInBtn
}

.hero-btn:hover,
.hero-btn:focus {
    box-shadow: inset 0 0 0 2em $yellow;
    color: #000;
}

.hero-image-container {
    background-color: #fff;
    position: relative;
}

.hero-image {
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
}

// Description section
.description {
    margin: $vertical-margin 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-heading {
    font-family: $anton;
    font-size: 3em;
    text-transform: uppercase;
}

.description-paragraph {
    line-height: 1.5;
    margin-top: 2em;
    width: 90%;
}

.description-icons {
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 4em;
}

.description-icon {
    color: $red;
    font-size: 2em;
}

.description-item-text {
    font-family: $koho;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 1em;
}

.description-btn {
    margin-top: 4em;
    @extend %button;
    background-color: #fff;
}

.description-btn:hover,
.description-btn:focus {
    box-shadow: inset 0 0 0 2em #000;
    color: #fff;
}


// Banner section
// .banner {
//     margin: $vertical-margin 0;
//     color: #fff;
//     background-color: rgb(150, 32, 32);
//     position: relative;
//     height: 500px;
// }

// .banner-flex {
//     flex-direction: column;
//     align-items: center;
//     position: absolute;
//     top: 0;
// }

// .banner-text {
//     padding: 8em 1em 4em;
// }

// .banner-heading {
//     font-family: $anton;
//     font-size: 2.2em;
//     text-transform: uppercase;
// }

// .banner-paragraph {
//     line-height: 1.5;
//     margin: 1em 0;
// }

// .banner-image {
//     width: 90%;
// }

// Features section
.features {
    // margin-top: 120%;
    height: 100vh;
    background-image: url('/Scrambler/features.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    justify-content: space-evenly;
    align-items: center;
}

.features-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
}

.features-heading {
    font-family: $anton;
    text-transform: uppercase;
    font-size: 3em;
}

.features-subheading {
    font-family: $koho;
    text-transform: uppercase;
    color: $yellow;
    font-weight: 600;
}

.features-btn {
    @extend %button;
    background-color: transparent;
    color: $yellow;
    border-color: $yellow;
    margin-top: 2em;
    animation: 2.5s ease-out 0s 1 fadeInBtn
}

.features-btn:hover,
.features-btn:focus {
    box-shadow: inset 0 0 0 2em $yellow;
    color: #000;
}

.features-icon {
    margin-left: 0.5em;
}

.features-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    transition: transform 0.5s ease;
}

.features-overlay::-webkit-scrollbar {
    width: 0.5em;
    height: 0.3em;
}

.features-overlay::-webkit-scrollbar-track {
    background-color: #fff;
}

.features-overlay::-webkit-scrollbar-thumb {
    background-color: $red;
}

@supports (scrollbar-color: $red #fff) {

    .features-overlay {
        scrollbar-color: $red #fff;
        scrollbar-width: thin;
    }

}

.features-overlay-show {
    transform: translateY(0);
}

.features-overlay-hide {
    transform: translateY(100%);
}

.feature {
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.feature-flex-container {
    height: 100%;
}

.feature-text {
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    // align-items: center;
}

.feature-heading {
    font-family: $anton;
    text-transform: uppercase;
    font-size: 3em;
}

.feature-subheading {
    font-family: $koho;
    text-transform: uppercase;
    color: $red;
    font-weight: 600;
    padding-left: 2em;
}

.feature-paragraph {
    width: 90%;
    margin-top: 1em;
    line-height: 1.5;
    color: $text-dark;
    font-size: 0.9em;
}

.feature-img {
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#feature-1 {
    background-image: url('/Scrambler/ride.jpg');
}

#feature-2 {
    background-image: url('/Scrambler/LED.jpg');
}

#feature-3 {
    background-image: url('/Scrambler/wheel.jpg');
}

.overlay-btn {
    position: fixed;
    top: 10px;
    left: 25px;
    z-index: 9999;
    color: $red;
    background: transparent;
    border: none;
    font-size: 2em;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.overlay-btn-show {
    visibility: visible;
    opacity: 1;
}

.overlay-btn-hide {
    visibility: hidden;
    opacity: 0;
}

.scroll-text {
    display: none;
}

// Specs section
.specs {
    margin-top: 0;
    padding: 4em 0;
    background-color: #171717;
    color:#fff
}

.specs-flex {
    flex-direction: column;
    // align-items: center;
}

.specs-image {
    width: 100%
}

.specs-heading {
    font-family: $anton;
    font-size: 2.2em;
    text-transform: uppercase;
    margin: 1em 0;
    text-align: center;
}

.specs-details-flex {
    justify-content: space-around;
}

.specs-list-item {
    line-height: 1.3;
    margin: 1.5em 0;
    padding-bottom: 0.5em;
    // border-bottom: 1px solid white;
}

.list-heading {
    font-weight: 600;
    text-transform: uppercase;
    color: $yellow;
    margin: 0.5em 0;
}

@media (max-width: 400px) {

    .description-heading, .features-heading {
        font-size: 2.5em
    }

    .specs-list {
        font-size: 0.8em;
    }

}

@media (min-width: 800px) {

    // Hero section
    .hero-text-container {
        height: 90vh;
        background-position: auto;
    }

    .hero-text {
        margin: 30vh 0;
    }

    .hero-heading {
        font-size: 7em;
    }
    
    // .hero-subheading {
    //     font-size: 1.2em;
    // }

    .hero-image {
        width: 800px;
        bottom: -60px;
    }

    // Description section
    .description-heading {
        font-size: 4em;
    }

    .description-paragraph {
        width: 80%;
    }

    // Banner section
    // .banner {
    //     height: 400px;
    //     margin: 15em 0;
    // }

    .banner-flex {
        flex-direction: row;
        justify-content: center;
        gap: 3em;
        width: 100%;
        top: -100px;
    }

    .banner-text {
        padding-left: 3em;
    }

    .banner-image {
        width: 400px;
        padding-right: 3em;
        // width: 30%;
    }

    // Features section
    .features-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 790px;
    }

    .features-heading {
        font-size: 4em;
    }

    .features-btn {
        margin: 0;
    }

    .features-overlay {
        overflow-y: hidden;
        overflow-x: auto;
        flex-direction: row;
    }

    .features-overlay-show {
        transform: translateX(0);
    }

    .features-overlay-hide {
        transform: translateX(100%);
    }

    .feature {
        flex-direction: row;
        min-width: 100%;
        background-color: #fff;
    }

    .feature-flex-container, .feature-img {
        width: 50%;
        height: 100%;
    }

    .feature-text {
        height: 100%;
        margin-left: 10%;
        align-items: flex-start;
        padding: 0;
    }

    .feature-subheading {
        padding: 0;
    }

    .feature-paragraph {
        font-size: 1em;
        margin: 2em 0;
    }

    .scroll-text {
        display: block;
        margin-top: 1em;
        font-family: $anton;
        text-transform: uppercase;
        color: #000;
        font-size: 1.3em;
    }

    .scroll-icon {
        color: $red;
    }

    // Specs section
    .specs-flex {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .specs-image {
        width: 400px;
    }

    .specs-content {
        width: 400px;
    }

}

@media (min-width: 1024px) {

    // Hero section
    .hero-text-container {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .hero-text {
        text-align: left;
        margin: 30vh 0 0 3em;
    }

    .hero-heading {
        font-size: 7em;
    }

    // Description section
    .description-heading {
        font-size: 5em;
    }

    .description-paragraph {
        width: 70%;
    }

    // Feature section
    .features-heading {
        font-size: 5em;
    }

    .feature-text {
        margin-left: 7em;
    }

    .feature-paragraph {
        width: 80%;
    }

    // Specs section
    .specs-flex {
        justify-content: space-around;
        align-items: center;
    }

    .specs-image {
        width: 500px;
    }
    
    .specs-details-flex {
        justify-content: space-evenly;
    }

    .specs-content {
        width: 50%;
    }

    .specs-heading {
        font-size: 3em;
    }

    .list-heading {
        font-size: 1.3em;
    }

}   